.promocionInicio-texto {
    position: relative;

    h3 {
        @include promocionTitulos;
        animation: whatsapp 2s infinite ease-in-out, sombraPulso 2s infinite ease-in-out;
    }

    ul {
        @include promocionTexto;
        animation: viñetaDancing 2s infinite ease-in-out;
    }

    li {
        list-style: none;
        padding: 5% 0 !important;
    }

    img {
        max-width: 100%;
        animation: fade-in 2s ease-in-out;
    }
}

.scroll {
    height: 100vh;
    overflow-y: scroll;
}

.asideArticulo {
    padding: 2% 10% !important;
    margin: 2% 5% 10% !important;
    background-color: $black;
    box-shadow: 0 5px 10px 5px $gray-500;
    border-radius: 15px;
    text-align: left;

    h4 {
        text-align: center;
        text-shadow: $neon1;
        margin-bottom: 10px !important;
    }
}