body {
    background-color: $gray-800;
    font-family: $font-family;
    color: $gray-100;
    overflow: hidden;
    overflow-x: hidden;
    text-decoration: none;
    transition: all 0.5s ease-in;
    animation: fade-in 2s;
}