* {
    list-style-type: "🥊 ";
}

@font-face {
    font-family: "baron";
    src: url(../assets/fonts/baron-neue.otf);
}

body {
    background-color: $gray-900;
    overflow-x: hidden;
    font-family: $font-family;
    color: $gray-100;
    text-decoration: none;
    animation: fade-in 1.5s ease-out;
}

.bg {
    background-color: $gray-800;
}

.box-shadow {
    box-shadow: 0 0 15px -2px $gray-700;
}

.t-shadow {
    box-shadow: 0 12px 8px -10px $gray-700;
}

.b-shadow {
    box-shadow: 0 -12px 8px -10px $gray-700;
}

.button {
    border-radius: 5px;
    box-shadow: 0 0 3px $primary;
    border: 0 $primary;
    @include titles;
    background-color: $gray-800;
    cursor: $guante, auto;
    transition: all 1s ease-in;
}

.button:hover {
    background-color: $primary;
    @include titles;
    color: $black;
    box-shadow: 0 0 15px $white;
}

.fondo1 {
    background-image: radial-gradient(ellipse at center, $gray-900, #000000b3), url('../assets/images/galeria.webp');
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 5px $gray-700, 0 0 5px $gray-500;
}

.fondo2 {
    background-image: radial-gradient(ellipse at center, $black, #000000b3), url('../assets/images/Línea3.svg');
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 5px $gray-500, 0 0 5px $gray-500;
}

.article {
    background-color: $black;
    text-align: left;
    border-radius: 11px;
}

.promo {
    position: relative;

    h3 {
        @include promo-titles;
        animation: whatsapp 2s infinite ease-in-out, sombraPulso 2s infinite ease-in-out;
    }

    ul {
        @include promo-text;
        animation: dancing 2s infinite ease-in-out;
    }

    li {
        list-style: none;
        padding: 5% 0;
    }
}

.cristal {
    background: #ffffff45;
    border-radius: 16px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    border: 1px solid #ffffff45;
}