footer {
    background-color: $gray-800;
    text-align: center;
}

.whatsFooter {
    text-shadow: $neon-3;
    transition: all 0.5s ease-in-out;
    animation: sombraPulso 2s infinite ease-in-out;

    i {
        font-size: 1.5rem;
        transition: all 0.5s ease-in-out;
        animation: rotar 6s ease-in-out infinite;
        animation-delay: 4s;
        animation-direction: alternate;
        animation-fill-mode: forwards;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.pie {
    box-shadow: 0 -1px $gray-600;
}

.sticky-bottom {
    position: sticky;
    bottom: 0;
    z-index: 100;
}