.redes {
    li {
        display: inline-block;

        i {
            transition: transform 0.5s ease;
            animation: doblez 2s ease;
        }

        &-hover:hover {
            transform: scale(1.5);
        }

        a {
            position: relative;
            display: block;
            width: 53px;
            height: 53px;
            text-align: center;
            line-height: 56px;
            border-radius: 50%;
            font-size: 190%;
            color: $gray-600;
            transition: 0.5s;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $white;
                transition: 0.5s;
                z-index: -1;
            }

            &:hover::before {
                box-shadow: 0 0 15px $white;
            }

            &:hover {
                color: $primary;
                box-shadow: 0 0 5px $primary;
                text-shadow: 0 0 5px $gray-600;
                transform: rotate(360deg) scale(1.1);
            }

            &:active {
                color: $warning;
                box-shadow: 0 0 5px $primary;
                text-shadow: 0 0 5px $gray-600;
                transform: rotate(360deg) scale(1.1);
            }
        }
    }
}

.navContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav {
    ul {
        li {
            list-style-type: none;
            background-image: radial-gradient($secondary, $success);
            background-position: 0 100%;
            background-size: 0 1px;
            animation: agrandamiento 2s ease;
            transition: background-size 0.3s;
            background-repeat: no-repeat;
            padding: 0 15px;

            &:hover {
                background-size: 100% 1px;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

button {
    display: none;
}