.fade-in {
    animation: fade-in 2s ease-in-out;
}

.mapa {
    border: 0;
    width: 100%;
    height: 300px;
    animation: doblez 2s ease-in-out;
}

.border-animation {
    border-radius: 10px 50px;

    &:hover {
        animation: volumen 3s infinite ease-in-out;
        transition: all 3s linear;
        border-radius: 50px 10px;
    }
}