.fadeIn {
    animation: fade-in 2s ease-in-out;
    transition: all 0.3s ease;
}

.mapa {
    border: 0;
    width: 100%;
    height: 300px;
    margin: 20px 0;
    animation: doblez 2s ease-in-out;
    transition: all 0.3s ease;
}

.contamosCon {
    box-shadow: 0 0 10px 0 $gray-500;
    border-radius: 10px 50px;
    padding: 10px !important;
    margin: 1vw 20vw !important;
    animation: doblez 2s ease;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1) rotate(1deg);
    }
}

.animacion {
    animation: whatsapp 2s infinite ease-in-out, sombraPulso 2s infinite ease-in-out;
}