#buscar {
    max-width: min-content;
    border-radius: 6px;
    box-shadow: 0 0 3px $gray-500;
    transition: all 1s ease;
    @include titles;
    text-shadow: 0 0 8px $primary;
    color: $primary;
    background-color: $black;
}

#buscar:hover {
    box-shadow: 0 0 15px $white;
}