.viñeta {
    width: 100%;

    &:hover {
        animation: volumen 2s ease-in-out infinite;
    }
}

.logoTexto {
    @include titles;
    font-size: calc(180% + 2.5vw);
    animation: pulse 1.8s infinite ease-out;

    &:hover {
        animation: pulse 1.5s infinite ease-in;
    }

    &:active {
        color: $success ;
        transition: all 1s ease-in;
    }
}

.logoTexto-x {
    font-weight: normal;
    font-style: normal;
    color: $white;
    transition: all .3s ease-out;
    animation: pulse 1.5s infinite;

    &:hover {
        transform: rotate(90deg);
    }
}