@media screen and (max-width: 768px) {

    .buscar {
        display: none;
    }

    button {
        display: block;
    }

    .fa-bars {
        color: $primary;
        width: 200px;
    }

    .dropbtn {
        background-color: #00000000;
        cursor: url(../assets/icons/guante.svg), auto;
        border: 0;
        font-size: 1.3rem;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        z-index: 10;
        text-align: center;
        animation: volumen 3s ease-in-out infinite;

        &-content {
            background: radial-gradient(circle at 70% 30%, #484848 13%, #292626 48%, #222222 53%, #000000 100%);
            display: none;
            position: absolute;
            min-width: 208px;
            min-height: 205px;
            box-shadow: $neon-5;
            border-radius: 170px / 220px;
            border: none;


            a {
                @include titles;
                color: $gray-100;
                text-decoration: none;
                padding: 10px 15px;
                margin: 3px;
                display: block;
            }
        }

        &:hover {
            .dropdown-content {
                display: block;
                transform-origin: top;
                animation: squash .7s ease-out;
            }
        }
    }

    .promo {
        h3 {
            @include promo-titles;
            font-size: 5vw;
        }

        ul {
            @include promo-text;
            font-size: 4.5vw;
        }
    }
}

@media screen and (min-width: 768px) {
    .sticky-lg-top {
        position: sticky;
        top: 0;
        z-index: 100;
    }
}