@media screen and (max-width: 250px) {
    header {
        div > :nth-child(2) {
            display: none;
        }

        ul {
            display: none;
        }

        h1 {
            display: none;
        }
    }

    main {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 5vw;
    }

    .logo {
        min-width: 50vw;
    }

    .logo-texto {
        font-size: 10vw;
    }

    .buscar {
        display: none;
    }

    button {
        display: block;
    }

    .fa-bars {
        color: $primary;
        width: 200px;
    }

    .dropbtn {
        background-color: #00000000;
        cursor: url(../assets/icons/guante.svg), auto;
        border: 0;
        font-size: 1.3rem;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        z-index: 10;
        text-align: center;
        animation: volumen 3s ease-in-out infinite;

        &-content {
            background: radial-gradient(circle at 70% 30%, #484848 13%, #292626 48%, #222222 53%, #000000 100%);
            display: none;
            position: absolute;
            min-width: 208px;
            min-height: 205px;
            box-shadow: $neon-5;
            border-radius: 170px / 220px;
            border: none;

            li {
                background: none;

                a {
                    @include titles;
                    color: $gray-100;
                    text-decoration: none;
                    display: block;
                }
            }
        }

        &:hover {
            .dropdown-content {
                display: block;
                transform-origin: top;
                animation: squash .7s ease-out;
            }
        }
    }

    .promo-text {
        h3 {
            font-size: 4vw;
        }

        ul {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .logo {
        min-width: 25vw;
    }

    .logo-texto {
        font-size: 5vw;
    }

    .promo-text {
        top: 18%;
        left: 35%;
        max-width: 30%;

        h3 {
            font-size: 2vw;
        }

        ul {
            font-size: 1.5vw;
        }
    }
}

@media screen and (min-width: 1024px) {
    .sticky-top {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .logo {
        min-width: 13vw;
    }

    .logo-texto {
        font-size: 4vw;
    }

    .promo-text {
        width: auto;

        h3 {
            font-size: 2.1vw;
        }

        ul {
            font-size: 1.4vw;
        }
    }
}

@media screen and (min-width: 1800px) {
    .promo-text {
        h3 {
            font-size: 1.5vw;
        }

        ul {
            display: 2vw;
        }
    }
}

@media screen and (min-width: 2560px) {
    .logo {
        min-width: 250px;
    }

    .promo-text {
        ul {
            display: none;
        }
    }
}