@mixin titles {
    text-transform: $uppercase;
    font-style: $italic;
    font-weight: $extra-bold;
    color: $primary;
}

@mixin text {
    font-family: $font-family;
    color: $primary;
}

@mixin promocionTitulos {
    font-family: $font-family-promociones;
    font-size: 2vw;
    font-style: normal;
    font-weight: 500;
    color: $success;
    text-shadow: $neon3;
    position: absolute;
    top: 13%;
    left: 3%;
    max-width: 50%;
    z-index: 1;
}

@mixin promocionTexto {
    font-family: $font-family-promociones;
    font-size: 1.5vw;
    color: $white;
    text-shadow: $neon4;
    position: absolute;
    top: 37%;
    left: 3%;
    max-width: 50%;
    z-index: 1;
}