.politicaPrivacidad {
    display: block;
    box-shadow: 0 0 10px 5px $gray-700;
    border-radius: 30px;

    ul {
        padding-left: 5vw !important;
    }
}

.caja {
    background-color: $black;
    box-shadow: 0 0 10px 5px $gray-700;
    border-radius: 15px 30px;
    transform: rotate(1deg);
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1) rotate(-1deg);
    }
}