@mixin titles {
    text-transform: $uppercase;
    font-style: $italic;
    font-weight: $extra-bold;
    color: $primary;
    text-align: center;
}

@mixin text {
    font-family: $font-family;
    color: $primary;
}

@mixin promo-titles {
    font-family: $font-family-promociones;
    font-style: normal;
    color: $success;
    text-shadow: $neon-3;
}

@mixin promo-text {
    font-family: $font-family-promociones;
    color: $white;
    text-shadow: $neon-4;
}

@mixin cristal {
    background: #0a0a0a7f;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #ffffff45;
}