h1 {
    text-shadow: $neon-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include titles;
}

a {
    color: $white;
    text-decoration: none;
    cursor: $guante, auto;
    transition: color 0.5s ease-in;

    &:hover {
        @include titles;
        font-family: $font-family;
        transition: color 1.3s ease-out;
    }

    &:active {
        color: $success;
    }
}

strong {
    color: $success;
    text-shadow: $neon-1;
    letter-spacing: 1px;
    animation: pulse 1.5s infinite ease-in-out;
}

.resaltado {
    text-decoration: none;
    animation: pulse 1.5s infinite ease;
}

.text-italic {
    font-style: oblique;
}

.text-left {
    text-align: left;
}

.text-shadow {
    text-shadow: $neon-1;
}

.target {
    @include titles;
    color: $success;